<%- include('partials/header.ejs') %>

<!-- Titulo, subtitulo y formulario de búsqueda -->
<div class="col-12 text-center banner mb-5">
    <h1 class="text-white">‘cause knowledge belongs</h1>
    <h1 class="text-white">to all of us</h1>
    <h2 class="text-dark">Uncover stories, ideas, and more.</h2>

    <!-- Formulario de búsqueda -->
    <form class="row form" action="/"  id="searchForm">
        <div class="col-md-8 offset-md-2 mt-3 d-flex gap-lg-4 gap-md-4 gap-sm-2">
            <div class="input-group">
                <select class="form-select" id="filterSelect" name="search_param">
                    <option value="book">Book</option>
                    <option value="author">Author</option>
                    <option value="genre">Genre</option>
                </select>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="Search for a book, an essay, an article, something."
                    required
                />
            </div>
            <button type="submit" class="btn btn-dark form-submit" id="search">Search</button>
        </div>
    </form>
</div>
<!-- Termina el banner -->

<!-- Contenido de la pagina -->
<div class="container-fluid content mt-5">
    <div class="row">
        <% if (locals.content.length !== 0) { %>
            <p id="searhResult"></p>
            <% content.forEach(element => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" id="titleBook"><%= element.title || 'No Title Available' %></h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="author"><%= element.author_name || 'Unknown Author' %></h6>
                            <p class="card-subtitle text-muted" id="year"><%= element.first_publish_year || 'Year Not Available' %></p>

                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
        
    </div>
</div>
</div>
<!-- Termina el contenido de la pagina -->

<%- include('partials/footer.ejs') %>
